<div class="container task-card">
  <h3>
  Title: <%= @task.title %>
  </h3>
  <p>
  Description: <%=  @task.details %>
  </p>
  <%= link_to 'Edit', edit_task_path(@task)  %>

  <%= link_to 'Delete', task_path(@task), method: :delete, data: { confirm: 'Are you sure?' }  %>

  <%= link_to 'all tasks', tasks_path %>

</div>
